.gradle/
build/
out/
.idea/

mcRun/

advl.diff
original-sources/
src/main/java/net/minecraft/
src/main/java/com/mojang/
src/main/resources/assets/
src/main/resources/data/
src/main/resources/flightrecorder-config.jfc
src/main/resources/pack.png
src/main/resources/version.json

patches.zip
